.htmlStyle{
    border: 0px;
}

.bodyStyle{
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.topParthOfPage {
    background-color: rgb(31, 31, 40);
    width: 100%;
    height: 10%;
    align-content: center;
    align-self: center;
    position: relative;
}

.content {
    width: 100%;
    height: 80%;
    align-content: center;
    align-self: center;
    border-style: solid, 2px, red;
    background-color: rgb(31, 31, 35);
    position: relative;
}

.bottomParthOfPage {
    width: 100%;
    height: 10%;
    align-content: center;
    align-self: center;
    background-color: rgb(41, 41, 41);
    border-color: black;
    position: relative;
}